@import "@/app/styles/colors.module.scss";

.companyCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  height: 10rem;
  width: 100%;
  max-width: 30rem;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

.companyInfo {
  flex: 1;

  h3 {
    margin: 0;
    font-size: 1.25rem;
    color: #333;
  }

  p {
    margin: 0.25rem 0;
    color: #666;
  }
}

.companyIcon {
  font-size: 2rem;
  color: $primary;
}
