@import "@/app/styles/colors.module.scss";

/* Placeholder for shared styles */
%btn_base {
  margin-top: 2rem;
  border-radius: 0.25rem;
  border-width: 1px;
  outline: 0 !important;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
  transition: all 0.3s ease;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

/* Default Button Styling */
.btn {
  @extend %btn_base;
  width: 100%; // Default width, can override via props
}

/* Variants */
.btn_primary {
  background-color: $primary;
  color: #fff;
  border: 1px solid $primary-600;

  &:hover {
    background-color: $primary-600;
    border-color: $primary-700;
  }
}

.btn_secondary {
  background-color: $secondary;
  color: #fff;
  border: 1px solid $secondary-600;

  &:hover {
    background-color: $secondary-600;
    border-color: $secondary-700;
  }
}

.btn_danger {
  background-color: $danger;
  color: #fff;
  border: 1px solid $red-600;

  &:hover {
    background-color: $red-600;
    border-color: $red-700;
  }
}

.btn_success {
  background-color: $success;
  color: #fff;
  border: 1px solid $green-600;

  &:hover {
    background-color: $green-600;
    border-color: $green-700;
  }
}

/* Outline Style */
.btn_outline {
  background-color: transparent;
  border: 1px solid currentColor;

  &:hover {
    color: #fff; /* Adjust text color for contrast */
    background-color: currentColor;
  }
}

/* Sizes */
.btn_small {
  height: 2rem;
  min-width: 3rem;
  padding: 0.25rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.2;
}

.btn_medium {
  height: 2.5rem;
  min-width: 4rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
}

.btn_large {
  height: 3rem;
  min-width: 5rem;
  padding: 0.75rem 1.25rem;
  font-size: 1.25rem;
  line-height: 1.75;
}

/* Icon Styling */
.icon {
  display: inline-flex;
  align-items: center;
  margin: 0 0.5rem;

  svg {
    font-size: 1.25rem; // Icon size, adjust as needed
  }
}
