@import "@/app/styles/colors.module.scss";

.authContainer {
  .welcomeText {
    text-align: left;
    margin-bottom: 2rem;

    h4 {
      color: $primary-500;
      font-size: 1.15625rem;
      font-weight: 700;
      margin-bottom: 0.4rem;
    }

    .subText {
      color: #74788d;
      font-weight: 500;
    }
  }

  .errorContainer,
  .successContainer {
    margin-top: 1rem;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 700;
    color: $white;
    padding: 0.8rem;
    border-radius: 0.4rem;

    &.errorContainer {
      background-color: $danger;
    }

    &.successContainer {
      background-color: $success;
    }
  }

  .authForm {
    .authLink {
      margin-top: 2rem;
      display: flex;
      justify-content: center;
      gap: 0.4rem;
      font-weight: 400;
      text-align: center;
      color: #2b2b2b;
      cursor: pointer;

      a {
        font-weight: 500;
        color: #3062e3;
      }
    }
  }
}
