@import "@/app/styles/colors.module.scss";

.authContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .welcomeText {
    text-align: left;
    margin-bottom: 2rem;

    h4 {
      color: $primary-500;
      font-size: 1.15625rem;
      font-weight: 700;
      margin-bottom: 0.4rem;
    }

    p {
      color: #74788d;
      font-weight: 500;
    }
  }

  .errorContainer,
  .successContainer {
    margin-top: 1rem;
    text-align: center;
    font-size: 0.875rem;
    font-weight: 700;
    color: $white;
    padding: 0.8rem;
    border-radius: 0.4rem;

    &.errorContainer {
      background-color: $danger;
    }

    &.successContainer {
      background-color: $success;
    }
  }

  .authForm {
    max-width: 25rem;
    width: 100%;

    .input {
      margin-bottom: 1rem;
    }

    .authLink {
      margin-top: 2rem;
      text-align: center;
      display: block;

      a {
        font-weight: 500;
        color: #3062e3;
        text-decoration: none;
      }
    }
  }
}
