@import "@/app/styles/colors.module.scss";

.cartItem {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  row-gap: 2rem;
  align-items: center;

  margin-bottom: 1rem;

  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  width: 100%;
  max-width: 100%;

  .cartItemHeader {
    display: flex;
    align-items: center;
    gap: 1rem;

    .removeicon {
      color: $danger;
      cursor: pointer;
    }

    h2 {
      color: $secondary-600;
    }
  }

  .price {
    font-weight: 700;
    color: $gray-600;
  }

  .totalPrice {
    font-weight: 700;
    color: $secondary-700;
  }
}

/* md tablet*/
@media (min-width: 768px) {
  .cartItem {
    grid-template-columns: auto auto auto auto;
  }
}
