@import "@/app/styles/colors.module.scss";

.storeStyles {
  display: grid;
  grid-template-columns: 1fr;
  padding: 2rem;
  gap: 1.5rem;
  height: 100vh;
  width: 100%;
  background-color: $white;
  overflow-y: auto;
  box-sizing: border-box;
}

/* Responsive Layouts */
@media (min-width: 640px) {
  .storeStyles {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .storeStyles {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1280px) {
  .storeStyles {
    grid-template-columns: repeat(4, 1fr);
  }
}
