@import "@/app/styles/colors.module.scss";

.container {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
  overflow: hidden;
  margin: 0 auto;
  padding: 1rem 1rem 0 1rem;

  .cartItems {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;

    .cartItemHeader {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;

      .cartHeaderTitle {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        .cartIcon {
          color: $primary;
        }

        h2 {
          font-size: 1.6rem;
          color: $secondary-600;
        }
      }

      .emptyCartIcon {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $danger;
        background-color: $white;
        padding: 0.5rem;
        border-radius: 0.25rem;
        border: 1px solid $danger;
        cursor: pointer;
        height: 2.5rem;
        width: 5rem;

        &:hover {
          background-color: $danger;
          color: $white;
        }
      }
    }

    hr {
      width: 100%;
    }

    .cartItemsContainer {
      width: 100vw;
      overflow: hidden;
      .cartItemsList {
        width: 100%;
        height: 56vh;
        overflow-y: auto;
        overflow-x: hidden;
      }

      .cartTotal {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: $secondary-500;
        padding: 1rem;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
        margin: 0;

        .cartTotalAmount {
          display: flex;
          justify-content: space-between;
          flex-wrap: nowrap;
          align-items: center;
          margin-bottom: 0.5rem;

          h2 {
            font-size: 1rem;
            color: $white;
            margin: 0;
          }
        }

        .cartTotalActions {
          // display: flex;
          // justify-content: space-between;
          // align-items: center;
          // gap: 1rem;

          .removeCartIcon {
            color: $danger;
            padding: 0.5rem;
            cursor: pointer;
          }
        }
      }
    }
  }
}

/* xs */
@media (min-width: 475px) {
}
/* sm */
@media (min-width: 640px) {
}

/* md tablet*/
@media (min-width: 768px) {
}

/* lg laptop */
@media (min-width: 1024px) {
  .container {
    .cartItems {
      .cartItemsContainer {
        display: flex;
        .cartItemsList {
          width: 100%;
          height: calc(100vh - 15rem);
          overflow-y: auto;
        }

        .cartTotal {
          position: sticky;
          width: 20rem;
          margin: 0.5rem 0;
          border-radius: 0.5rem;

          background-color: $gray-300;
          justify-content: flex-end;

          .cartTotalAmount {
            flex-direction: column;
            align-items: flex-end;
            gap: 1rem;
            margin-bottom: 0.5rem;
            h2 {
              color: $secondary;
            }
          }
        }
      }
    }
  }
}

/* xl */
@media (min-width: 1280px) {
}
